# build output
build

# Node modules
node_modules

# VsCode

*.code-workspace

# typescript build info
tsbuildinfo

# build dependent data
packages/client/public_holo/assets/images
packages/client/public_holo/assets/audio

# build dependent data
packages/client/TODO.txt
packages/client/public/assets/images/*
packages/client/public_holo/assets/asset-map.json

packages/server/assets-holo
packages/server/holo.env
packages/client/public/assets/textures/colors-1.jpg
packages/server/dist/**
packages/server/dist

*.env